.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-color: rgb(52, 113, 235);
}

.signUpContainer {
    margin: 7%; 
    width: 20%;
    height: 71%;
    background-color:rgb(254, 254, 254);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    min-width: 400px;
    min-height: 550px;
}

.signUpHeader {
    text-align: center;
    padding-top: 10%;
    font-size: 30px;
}

span {
    display: block;
    text-align: center;
    color: grey
}

a {
    text-decoration: underline;
    color: grey;
}

a:hover {
   color: black;
   text-decoration: underline;
}

.adjInputLeft {
    width: 33%;
    background-color: rgb(245, 245, 245);
    padding: 15px;
    margin-top: 20px;
    margin-right: 2%;
    border: none;
    border-radius: 4px;
}

.adjInputRight {
    width: 34%;
    background-color: rgb(245, 245, 245);
    margin-top: 20px;
    margin-left: 2%;
    padding: 15px;
    border: none;
    border-radius: 4px;
}


.textInput {
    width: 80%;
    background-color: rgb(245, 245, 245);
    padding: 15px;
    margin: 20px auto 20px auto;
    display:block;
    border: none;
    border-radius: 4px;
}

[type=button] {
    width: 88%;
    background-color: rgb(52, 113, 235);
    color: white;
    padding: 15px;
    margin: 20px auto 20px auto;
    display:block;
    border: none;
    border-radius: 4px;
}

.linkWrapper {
    text-align: center;
    margin-top: 15px;
}

.link {
    display: inline;
}

.error {
    text-align: center;
    margin: 10px auto 10px auto;
    font-weight: bold;
    color: red;
}

.joinTeamContainer {
    margin-left: 10%;
    display: block;
    text-align: left;
}

.teamSpan {
    margin-top: -50px;
    margin-left: 20px;
    width: 350px;
}

.teamInput {
    width: 44%;
    background-color: rgb(245, 245, 245);
    margin-top: 20px;
    margin-left: 2%;
    padding: 15px;
    border: none;
    border-radius: 4px;
}