p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin: 20px 0 0 20px;
}

.teamName {
    color: white;
    font-size: 24px;
}

.user {
    font-size: 14px;
    color: white;
}

.channelsHeading {
    margin-top: 60px;
    font-size: 16px;
    color: white;
}

.channel {
    font-family: 'Roboto', sans-serif;
    margin: 10px 0 0 0px;
    font-size: 14px;
    height: 20px;
    padding: 6px 0 0 20px;
}

.channel:hover {
    background-color: #333752;
}

.directMessages {
    margin-top: 60px;
    font-size: 16px;
    color: white;
}
