.gridContainer {
    display: grid;
    grid-template-columns: 80px 200px 1fr;
    grid-template-areas:
    "teamSidebar channelSidebar header"
    "teamSidebar channelSidebar main"
}

.header {
    grid-area: header;
    background-color: rgb(252, 252, 252);
    height: 8vh;
    border-bottom: 1px solid rgb(170, 170, 170);
    /* position: relative; */
    /* z-index: 10; */
    /* box-shadow: 7px 1px 6px 6px #ccc; */
}

.teamSidebar {
    grid-area: teamSidebar;
    height: 100%;
    width: 80px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background-color: #1e2233;
}

.channelSidebar {
    grid-area: channelSidebar;
    height: 100%;
    width: 200px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background-color: #24283d;
}

.main {
    grid-area: main;
    background-color: rgb(253, 253, 253);
    height: 92vh;
}

