.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-color: rgb(52, 113, 235);
}

.loginContainer {
    margin: 10%; 
    width: 20%;
    height: 38%;
    background-color:rgb(254, 254, 254);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    min-width: 300px;
    min-height: 350px;
}

.loginHeader {
    text-align: center;
    padding-top: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
}

span {
    display: block;
    text-align: center;
    color: grey
}

a {
    text-decoration: underline;
    color: grey;
}

a:hover {
   color: black;
   text-decoration: underline;
}

.textInput {
    width: 80%;
    background-color: rgb(245, 245, 245);
    padding: 4%;
    margin: 20px auto 20px auto;
    display:block;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

input[type=submit] {
    width: 88%;
    background-color: rgb(52, 113, 235);
    color: white;
    padding: 15px;
    margin: 20px auto 20px auto;
    display:block;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

p {
    text-align: center;
}